@using EntityLayer.Concrete
@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Onay Bekleyen Rezervasyonlarım</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"># </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şehir </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fiyat</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kapasite</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sitede Gör</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sil</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Güncelle</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.DestinationID</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.DenID</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Price₺</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Capacity</p>
                                        </td>
                                        <td>
                                            <a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-outline-primary">Sitede Gör</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/ADestination/DeleteDestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a>
                                        </td>
                                        <td>
                                            <a href="/Admin/ADestination/UpdateDestination/@item.DestinationID" class="btn btn-outline-warning">Güncelle</a>
                                        </td>
                                    </tr>
                                </tbody>      
                            }
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/Admin/ADestination/AddDestination/" class="btn btn-outline-info">Yeni Rota Oluştur</a>