
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>404 Hata Sayfası</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Effective Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			   function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //custom-theme -->
	<link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script src="~/web/js/jquery.min.js"></script>
	<!-- //js -->
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link href="~/web/fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="~/web/fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
</head>
<body>
	<div class="main">
		<canvas id="myCanvas"></canvas>
		<div class="agileinfo_404_main">
			<h1>404 Hata Sayfası</h1>
			<div class="w3_agile_main">
				<h2>Oooops.... Aradığınız Sayfayı Bulamadık</h2>
				<p>Bazı Nedenlerden Dolayı Talep Ettiğiniz Sayfa Sunucumuzda Bulunamadı.</p>
				<div class="agile_404 w3layouts">
					<div class="agile_404_pos">
						<h3>4<span>0</span>4<img src="~/web/images/1.png" alt=" " /> </h3>
					</div>
					<img src="~/web/images/3.png" alt=" " class="w3l" />
				</div>
			</div>
			<div class="agileits_w3layouts_nav">
				<div class="w3_agileits_nav_left w3">
					<ul>
						<li><a href="#">Anasayfa</a></li>
						<li><a href="#">Hakkımızda</a></li>
						<li><a href="#">Hizmetler</a></li>
						<li><a href="#">İletişim</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="agileits_copyright">
				<p>© @DateTime.Now.Year hata404. Tüm hakları saklıır | Design by <a href="#" target="_blank">ÇindaSOFT</a></p>
			</div>
		</div>
	</div>
	<script src="~/web/js/particles.min.js"></script>
	<script>
		window.onload = function() {
		  Particles.init({
			selector: '#myCanvas',
			color: '#6b6b6b',
			connectParticles: true,
			minDistance: 100
		  });
		};
	</script>
</body>
</html>
