<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/ADashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ADestination/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-map-alt"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AComment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-detail"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AUser/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContatUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-alt"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-credit-card"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AGude/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-search"></i>
            <div data-i18n="Analytics">Rehberlerimz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Api2TopMovie/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-transfer"></i>
            <div data-i18n="Analytics">Rapid Api</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Mail</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-transfer"></i>
            <div data-i18n="Analytics">Rolleme İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Analytics">Alt Hakkındar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-ghost"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>