@model ForgetPasswordViewModel
@{
    Layout = null;
}

<div class="container">
    <br /><br />
    <h3>Şifre Yenileme Sayfası</h3>
    <form method="post">
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-outline-info">Şifre Yenileme Linki Gönder</button>

    </form>
</div>


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />