@model UpdateRoleViewModel

@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="text-align: center"> Rol Güncelleme Sayfası</h3>
<form method="post">
    @Html.HiddenFor(x => x.RoleID)
    <div>
        @Html.Label("Rol Adı")
        <input type="text" asp-for="RoleName" class="form-control" />
    </div>
    <br />
    <button class="btn btn-sm btn-outline-success">Güncelle</button>
</form>

